<%- include('partials/header', {title: 'Video Downloader'}) %>

<section class="w-full md:w-9/12 xl:w-8/12">
    <span class="font-bold uppercase tracking-widest">Atomic</span>
    <h1 class="text-3xl lg:text-5xl font-bold text-red-600">
        Video<br />Downloader
    </h1>
    <p class="font-bold mb-1">The Design is in the de{Tail}s...</p>
    <p>Lorem ipsum dolor sit amet...</p>
</section>

<footer class="absolute right-0 bottom-0 p-6 lg:p-32">
    <p class="font-bold mb-1">Yours Truly</p>
    <p>Chigozie Orunta (Full Stack Engineer)</p>
</footer>
</main>
<!-- <div class="m-auto">

        <h1 class="my-5 text-red-700 font-bold text-2xl">YouTube Video Downloader</h1>
        <input type="text" class="URL-input font-bold text-xl py-2 px-5 border mt-1" placeholder="Enter the URL...">
        <input type="submit" value="Convert" class="submit py-3 px-6 bg-red-700 text-white font-bold">
    </div> -->
</body>

</html>